<!-- <div>
  <tabset [justified]="true">
    <tab heading=" Basic title" id="tab1">
      <div *ngFor="let timesheet of timesheets">
        <p>{{timesheet.projectNumber}} {{timesheet.projectName}}</p>
      </div>
    </tab>
    <tab heading="Basic Title 1">Basic content 1</tab>
    <tab heading="Basic Title 2">Basic content 2</tab>
  </tabset>
</div> -->

<!-- <p-table [value]="timesheets">
  <ng-template pTemplate="header">
    <tr>
      <th>Project Name</th>
      <th>Project Number</th>
      <th>Work Type</th>
      <th>Time</th>
      <th>Date</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-timesheet>
    <tr>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="timesheet.projectName" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{timesheet.projectName}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="timesheet.projectNumber">
          </ng-template>
          <ng-template pTemplate="output">
            {{timesheet.projectNumber}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="timesheet.workTypeName">
          </ng-template>
          <ng-template pTemplate="output">
            {{timesheet.workTypeName}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="timesheet.time">
          </ng-template>
          <ng-template pTemplate="output">
            {{timesheet.time}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="timesheet.datePicked">
          </ng-template>
          <ng-template pTemplate="output">
            {{timesheet.datePicked | date: 'mediumDate'}}
          </ng-template>
        </p-cellEditor>
      </td>
    </tr>
  </ng-template>
</p-table> -->

<div class="grid-table">
  <div class="thead">
    <div class="tr">
      <div class="td">Project</div>
      <div class="td">WorkType</div>
      <div class="td">Date</div>
      <div class="td">Time</div>
      <div class="td">
        <button class="btn btn-outline-success" (click)="addTimesheetForm()">
          <i class="fa fa-plus"></i> Add
        </button>
      </div>
    </div>
  </div>
  <div class="tbody">
    <form class="tr" [formGroup]="t" *ngFor="let t of timesheetsForms.controls" (submit)="recordSubmit(t)">
      <div class="td">
        <select class="form-control" formControlName="projectId">
          <option *ngFor="let project of projectList" [value]="project.projectId">{{project.projectName}}</option>
        </select>
      </div>
      <div class="td">
        <select class="form-control" formControlName="workTypeId">
          <option value="0">Select</option>
          <option *ngFor="let workType of workTypesList" [value]="workType.workTypeId">{{workType.workTypeName}}
          </option>
        </select>
      </div>
      <div class="td">
        <input class="form-control" formControlName="date" bsDatepicker [bsConfig]="bsConfig">
      </div>
      <div class="td">
        <input class="form-control" formControlName="time">
      </div>
      <div class="td">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
</div>

<p>Form value: {{timesheetsForms.value | json}}</p>
<p>Form value: {{timesheetsForms.status | json}}</p>

<!-- <div class="form-group">
  <input [ngClass]="{'is-invalid': registerForm.get('hireDate').errors && registerForm.get('hireDate').touched}"
    class="form-control" placeholder="Hire Date" formControlName="hireDate" type="text" bsDatepicker
    [bsConfig]="bsConfig">
  <div class="invalid-feedback"
    *ngIf="registerForm.get('hireDate').touched && registerForm.get('hireDate').hasError('required')">Hire Date is
    required</div>
</div> -->