<!-- <div class="row">
  <div class="col-lg-2 col-md-3 col-sm-6">
    <ul>
      <li *ngFor="let user of users; index as i">
        {{i+1}}. {{user.firstname}}
      </li>
    </ul>
  </div>
</div> -->

<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Department</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.departmentName}}</td>
      <td><button class="btn btn-primary" [routerLink]="['/']">Details</button> </td>
    </tr>
  </tbody>
</table> -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->

  <th mat-header-cell *matHeaderCellDef> No. </th>
  <th mat-header-cell *matHeaderCellDef> No. </th>
  <th mat-header-cell *matHeaderCellDef> No. </th>
  <tr *ngFor="let user of users">
    <td mat-cell> {{user.firstname}} </td>
  </tr>
</table>