<!-- <div class="row">
  <div class="col-lg-2 col-md-3 col-sm-6">
    <ul>
      <li *ngFor="let user of users; index as i">
        {{i+1}}. {{user.firstname}}
      </li>
    </ul>
  </div>
</div> -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Department</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.departmentName}}</td>
      <!-- <td><button class="btn btn-primary" [routerLink]="['/']">Details</button> </td> -->
      <button class="btn btn-primary" [routerLink]="['/users/', user.id]">Details</button>
    </tr>
  </tbody>
</table>